*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;

}
h2{
color:white; 
font-size:50px;
text-transform: uppercase;
word-spacing: 5px;
letter-spacing: 4px;


}
.clock{
    
   display:Flex;
   
    color:white;
  
}
.clock div{
    display: flex;
    flex-direction: column;
    margin:10px;
    text-align: center;
    position: relative;
    opacity: .8;
    background-color: rgb(38, 38, 45);
    
}
.clock  span{
   
    width:150px;
    font-size:50px;
    text-transform: uppercase;
    padding:15px;
    padding:10px;
    box-shadow: 2px 3px 0px 4px black;
    
   
}

 div  #text{
    font-size :20px;
    letter-spacing: 2px;
    background-color: rgb(177, 129, 129);
}
div #ampm{
    font-size: 20px;
   bottom:0px;
   position: absolute;
    padding:8px;
    background-color: blueviolet;
    width:50px;
}